/* Add styling for your page here */


.App {}

.BakeryItem {}
img {
  /* height: 200px; */
  width: 80%;
  text-align: center;
  margin: auto;
  display: block;
  margin-bottom: 20px;
}
.items {
  width: 25%;
  padding: 20px;
  margin: 2%;
  border: 1px solid #d9d9d9;
  border-radius: 20px;
}

.cart {
  margin-right: 2vw;
  padding: 10px;
  width: 100%;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 20px;
  border: 0.5vw solid #d9d9d9;
  border-radius: 20px;
  text-align: center;
  height:600px;
  margin-right: 2vw;
}

h1 {
  padding: 20px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0px solid #d9d9d9;
  border-radius: 20px;
  font-weight: 800;
  text-align: center;

}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  margin: 20px;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: space-between;
}

.filter {
  display: flex;
  flex-direction: column;
  border: 1px solid #d9d9d9;
  height: 100%;
  margin-left: 2vw;
  margin: 2%;
  width: 100%;
}

.filter-item {
  margin-left: 1vw;
  margin-bottom: 1vw;
}
button{
  background-color: #FF0050;
  border: solid transparent;
  border-radius: 16px;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: bold;
  padding: 13px 16px;
  width: 100%;
}

  